body{
    background-color: #eeeeee;
    margin: 0%;
    padding: 0%;
}

.headerBar{
    background-color: #ffffff;
    max-width: 100%;
    max-height: 30%;
    padding: 0.5%;
    position: relative;
    height: 50px;
    left: 0%;
    right: 0%;
    top: 0px;
}

.companyName{
    font-family: sans-serif;
    font-size: 140%;
    color: #4444aa;
    position: absolute;
    top: 15px;
    padding: 3px;
}

.moreBtn{
    background-color: #ffffff;
    max-width: 100%;
    max-height: 100%;
    padding: 1.25%;
    border: 0px silver #ffffff;
    position: absolute;
    top: 0;
    right: 0;
}

.userPicture{
    /* max-height: 2%;
    max-width: 2%; */
    height: 50px;
    width: 50px;
    border-radius: 25%;
    position: relative;
    top: -100px;
    left: 80%;
    border: 2px solid blue;
    margin: .1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.userName{
    position: relative;
    top: -35px;
    left: 85%;
}

.Job{
    position: relative;
    top: -45px;
    left: 85%;
}

.hdSearch{
    position: relative;
    top: 30px;
    left: 300px;
    width: 900px;
}


.table{
    position: relative;
    top: 10px;
    left: 300px;
    width: 1500px !important;
    table-layout: auto;
}

td, th {
    border-top: 0.1px solid #000000;
    padding: 8px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: #ffffff;
  }

.searchBtn{
    height: 20px;
    width: 20px;
}

.MenuBar li{
    display: inline;
}

.pagination{
    position: relative;
    top: 20px;
    left: 1400px;
    display: inline-block;
}

.pagination a {
    color: black;
    float: Left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd; /* Gray */
  }

  .pageFilter{
      position: relative;
      top: 70px;
      Left: 300px;
  }